{% extends "index.html" %}

{% block movies %}

<div class="col-sm-3 mb-3">


<img src="{{movie.poster_path}}" class="img-thumbnail" alt="...">
</div>

<div class="col-lg mb-3">
<div class="card" 
 
<div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">{{movie.release_date}}</p>
      <p class="card-text">{{movie.original_language}}</p>
      <p class="card-text">{{movie.overview}}</p>
      <p class="card-text">{{movie.popularity}}</p>
      <p class="card-text">{{movie.vote_average}}</p>
      <p class="card-text">{{movie.vote_count}}</p>

      
    </div>
  </div>
 </div>
{% endfor %}

      {% endblock %}

